@{
    ViewData["Title"] = "About The Warriors of Sunlight";
}
<h1 style="color:yellow">@ViewData["Title"]</h1>

<body style="background-color:darkolivegreen">
    <p style="color:yellow">
    Welcome to the Warriors of Sunlight, where the sun is always shining, and jolly cooperation is our motto! As adherents to the Lord of Sunlight and the embodiment of incandescent camaraderie, we strive to spread warmth and goodwill throughout the dark and treacherous lands of Lordran.
    </p>

    <p style="color:yellow">  Our covenant is not just about defeating bosses and conquering challenges; it's about forging bonds with fellow undead warriors and basking in the glory of victory together. Whether you're a seasoned veteran or a fresh out of the Undead Asylum, all are welcome to join our radiant ranks.</p>

    <p style="color:yellow">  At the Warriors of Sunlight, we believe in the power of cooperation, friendship, and, of course, praising the sun! Our members are known for their unwavering optimism, their readiness to lend a helping hand, and their penchant for leaving summon signs in the most unexpected places.</p>

    <p style="color:yellow">  Join us as we embark on thrilling adventures, engage in jolly cooperation, and spread the warmth of the sun to every corner of Lordran. Together, we will overcome challenges, triumph over adversity, and bask in the radiant glow of victory!</p>

    <p style="color:yellow">   So, don your finest armor, raise your summon sign high, and join us in praising the sun! Because with the Warriors of Sunlight by your side, every dark corner becomes a little brighter, and every challenge becomes a little more manageable.</p>

    <p style="color:yellow">    Praise the Sun!</p>
    <img src="@Url.Content("~/Images/Praise the sun.jpg")" controls width="700" height="450"/>

</body>
