@{
    ViewData["Title"] = "Warrior Of The Month";
}
<h1 style="color:yellow">@ViewData["Title"]</h1>

<body style="background-color:darkolivegreen">
    <h2 style="color:yellow" class="display-4">Solaire of Astora</h2>
    <img src="@Url.Content("~/Images/Solaire.jpg")" controls width="300" height="450"/>
    <p style="color:yellow">Behold the radiant champion, Solaire of Astora, whose unwavering devotion to the Lord of Sunlight has earned him the prestigious title of Warrior of the Month an astounding 50 times in a row. With his indomitable spirit and infectious optimism, Solaire embodies the true essence of jolly cooperation, leading countless adventurers to triumph over darkness. Praise the Sun for Solaire, whose bravery and camaraderie shine brighter than any flame in Lordran!</p>
    <p style="color:yellow">A short tribute for Solaire of Astora for achieving this outstanding goal!</p>
    <video id="videoplayer" src="@Url.Content("~/Video/Solaire_Edit.mp4")" controls width="500" height="600"loop/>
</body>