@{
    ViewData["Title"] = "Contact Us";
}
<h1 style ="color:yellow">@ViewData["Title"]</h1>

<body style="background-color:darkolivegreen">

    <p style="color:yellow">Lost in the abyss and need some sunlight to help you remove your burning questions about the Warriors of Sunlight Covenant? Well then come by our Covenant headquaters in Lothric Castle. Coming out of the Grand Archives it should be the door directly infront of you.</p>
    <p style="color:yellow">And if Lothric Castle is too far. Then grab a white soapstone to summon one of our covenant members to partake in jolly cooperation!</p>
    <img src="@Url.Content("~/Images/JollyCooperation.jpg")" controls width="700" height="450" />

</body>
