@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:darkolivegreen">
    <div class="text-center">
        <h1 style="color:yellow" class="display-4">Praise the Sun!</h1>
        <p style="color:yellow"> Welcome to the official website for the Warriors of Sunlight.</p>
        <img src="@Url.Content("~/Images/JoinTheSunBros.webp")" controls width="300" height="450" />
    </div>
</body>

