@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:orangered">@ViewData["Title"]</h1>

<body style="background-color:darkolivegreen">
    <p style="color:orangered">Please don't invade your fellow undead.</p>
    <p style="color:orangered">And especially don't try invading this website. The wrath of the Lord of Sunlight is not something one should seek!</p>
</body>